/* Global CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(29, 29, 29);
  color: white;
  height: 100%;
}

.navbar {
  background-color: rgb(54, 54, 54);
}

.navbar a {
  color: lightgray;
}

.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #4d4d4d;
}

.profile img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  margin-right: 50px;
  border-radius: 50%;
}

.edit-profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.login-intro p {
  font-family: Questrial;
  font-size: 1.5rem;
}

.welcome-box {
  background-color: #363636;
  padding: 20px;
  margin-top: 30px;
}

/* CSS MY LIST: Lists and tasks */

.lists-box {
  background-color: #363636;
  padding: 20px;
  margin-bottom: 15px;
}

ul {
  display: flex;
}
