/* CSS file for all forms */
.mb-3 {
  margin-top: 10px;
}

.form-text {
  color: grey;
  margin-bottom: 5px;
}

.edit-btn {
  background-color: transparent;
  border: none;
}

/* for hidden checkbox button */
.hidden-submit {
  display: none;
}

/* for "Add-task"-form since its toggled using JS. */
.hidden {
  display: none;
}
