/* CSS typography */

/* TO DO
Update edit list button */

@font-face {
  font-family: Syne;
  src: url('/assets/fonts/Syne-VariableFont_wght.ttf');
  font-weight: bold;
}
@font-face {
  font-family: Questrial;
  src: url('/assets/fonts/Questrial-Regular.ttf');
}

h1 {
  margin-top: -25px;
  font-family: Syne;
  font-size: 2.4rem;
}

h2 {
  font-family: Syne;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: Questrial;
  margin: 0px;
}

a:hover {
  color: white;
  text-decoration: none;
}

.nav-link {
  font-family: Syne;
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: Syne;
  font-size: 3rem;
}

.form-text,
label,
input,
button {
  font-family: Questrial;
  font-size: 16.5px;
}

.submitted-form {
  text-decoration: line-through;
}

.list {
  font-family: Syne;
  font-size: 1.5rem;
}

.today {
  font-family: Questrial;
  font-size: 16.5px;
}

.login-intro p {
  font-family: Questrial;
  font-size: 1.2rem;
}
